<h2>Set New Password</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>New Password:</label>
    <input type="password" formControlName="password" />
    <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        <small *ngIf="form.get('password')?.errors?.['required']">Password is required</small>
        <small *ngIf="form.get('password')?.errors?.['minlength']">At least 6 characters</small>
        <small *ngIf="form.get('password')?.errors?.['pattern']">Must include capital letter, number, special
            character</small>
    </div>

    <label>Confirm Password:</label>
    <input type="password" formControlName="confirmPassword" />
    <div *ngIf="form.errors?.['notMatching'] && form.get('confirmPassword')?.touched">
        <small>Passwords do not match</small>
    </div>

    <button type="submit" [disabled]="form.invalid">Set Password</button>
</form>